body {
  font-family: Arial, sans-serif;
  background-color: #f7f9fc;
  color: #333;
  margin: 0;
  padding: 20px;
}

.title {
  text-align: center;
  margin-bottom: 30px;
  color: #2c3e50;
}

form[id="form"] {
  display: flex;
  flex-direction: column;
  gap: 12px;

  max-width: 320px;
  margin: 0 auto 40px auto;
  padding: 20px;

  border: 1px solid #ccc;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

label {
  font-size: 14px;
  margin-bottom: 4px;
}

input, select, button {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input {
    width: 94%;
}

button {
  background-color: #3498db;
  color: white;
  border: none;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
  margin: 15px 0 0 0;
}

button:hover {
  background-color: #2980b9;
}

p {
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
}

ul {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ul li {
  background: #fff;
  border: 1px solid #ddd;
  padding: 8px 10px;
  margin-bottom: 6px;
  border-radius: 4px;
  font-size: 14px;
  max-width: 500px;
}

table {
  width: 300px;
  margin: 20px auto;
  border-collapse: collapse;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 6px;
  overflow: hidden;
}

table td {
  border: 1px solid #ddd;
  padding: 10px;
  font-size: 14px;
}

table tr:nth-child(odd) {
  background-color: #f2f2f2;
}

table tr:last-child td {
  font-weight: bold;
  background-color: #eaf6ff;
}

.lists {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin: 20px auto;
  max-width: 900px;
}

.list-block {
  flex: 1;
  text-align: center;
}

.list-block ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-block ul li {
  width: 100%;
  max-width: 350px;
}

#expenses li {
  border-left: 6px solid #e74c3c;
  background: #fff5f5;
  color: #c0392b;
}

#income li {
  border-left: 6px solid #27ae60;
  background: #f3fff7;
  color: #1e8449;
}

#report-section {
  max-width: 450px;
  margin: 0 auto 40px auto;
  padding: 20px;

  border: 1px solid #ccc;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

#report-section select{
  max-width: 98%;
  margin: 8px 0 8px 0;
}

#report-section button {max-width: 98%;}

.modal {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.modal.hide {
  display: none;
}

.modal__backdrop {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.5);
}

.modal__content {
  position: relative;
  background: white;
  padding: 20px;
  border-radius: 8px;
  z-index: 101;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  width: 280px;
}

.modal__buttons {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 15px;
}
