#map{ 
    width: 100%;
    height: 600px;
    border: none;
    }

.info-panel {
    background: #4CAF50;
    color: white;
    padding: 15px;
    margin: 10px 0;
    border-radius: 8px;
    text-align: center;
    font-weight: bold;
}

.inactive {
    background: #666;
}